:root {
  --main-denim: #173B61;
  --main-turquoise: #17616E;
  --main-greyblue: #7697A0;
  --main-orange: #fd8916;
  --main-pure: #ffebd0;
  --main-spotify-black: #191414;

  --header-height: 139px;
  --body-height: 983px;

  --body-top-left-radius: 50px;
  --body-top-right-radius: 50px;
  --body__rectangle-negative-float: -50px;

  --tab-container-width: 1320px;

  --tab__rectangle-radius: 20px;
  --tab-content-padding: 10px;
  --tab-content-height: var(--logo__image_width);
  --tab-content-font-size: 32px;
  --tab-content-rectangle-width: 400px;
  --tab-content__title--text-margin-right: 50px;

  --logo__image_width: 80px;
  --logo__image_padding-top: 16px;

  --music-container-margin-left: 1100px;
  --music-container-width: 680px;

  --holiday-container-margin-left: var(--music-container-margin-left);

}

html, body {
  margin: 0;
  padding: 0;
}

.body__rectangle {
  position: relative;
  margin-top: var(--body__rectangle-negative-float);
  height: var(--body-height);
  border-top-left-radius: var(--body-top-left-radius);
  border-top-right-radius: var(--body-top-right-radius);
  background-size: cover; /* Если у вас фон изображение, это поможет заполнить экран */
  background-position: center;
}

.body__rectangle--color-denim {
  background: var(--main-denim);
}




.body__horizontal-divider {
  position: absolute;
  display: flex;
  left: 1000px;
  top: 430px;
  z-index: 3;
  width: 800px;
  background: white;
  height: 1px;
  margin: 0 auto;
}

.body__vertical-divider {
  position: absolute;
  display: flex;
  left: 950px;
  top: 40px;
  z-index: 3;
  width: 1px;
  background: white;
  height: 900px;
  margin: 0 auto;
}

.aboutme-container__grid {
  display: grid;
  position: absolute;
  grid-template-columns: 200px auto;
  width: 40%;
  height: 80%;
  margin-left: 70px;
  margin-top: 50px;
}

.aboutme-container__photo-grid-delim {
  position: absolute;
  display: grid;
  grid-template-rows: 80% auto;
  border: yellow solid 10px;
  width: 30%;
  height: 100%;
}

.aboutme-container__picture {
  display: flex;
  width: 80%;
  border-radius: 1000px;
  top: 100px;
  align-self: end;
  margin: 0 auto 0 auto;
}

.aboutme-container__unsivible-item {
  display: flex;
  width: 100%;
  height: 80%;
}

.content__bubble-grid {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 10px;
}

.content__bubble-message-rectangle {
  display: flex;
  background: var(--main-greyblue);
  border-radius: 30px;
  z-index: 1;
}

.content__bubble-message-rectangle--text-aligned {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content__bubble-message-rectangle--filter-blur {
  background: linear-gradient(135deg, var(--main-greyblue) 0%, var(--main-turquoise) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content__bubble-message-text {
  z-index: 2;
  font-family: Merriweather Sans, sans-serif;
  font-size: 32px;
  width: 90%;
}

.content__bubble-message-text--color-pure {
  color: white;
}

.holiday-container__content {
  display: block;
  text-align: center;
  font-family: "Scary Halloween Font", "Arial", sans-serif;
  font-size: 6rem;
}

.holiday-container__content--text-color-orange {
  color: #CD8A39;
}

.holiday-container__content--text-link-disabled {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font: inherit; /* Inherit font properties from parent */
  cursor: pointer; /* Change cursor to pointer */
}

@media (max-width: 1826px) {
  .holiday-container__content {
    display: none;
  }
}

.holiday-container__grid {
  display: grid;
  position: absolute;
  grid-template-rows: 111px auto;
  align-items: center;
  left: var(--music-container-margin-left);
  top: 480px;
  width: var(--music-container-width);
  height: 400px;
}

.holiday-container__title {
  display: block;
  text-align: center;
  font-family: Merriweather Sans, serif;
  font-size: 2.5rem;
}

.holiday-container__title--text-color-pure {
  color: var(--main-pure);
}

.track-bubble__album-cover {
  max-width: 100%; /* Scale down the image */
  height: auto;    /* Maintain aspect ratio */
  width: 134px;
  border-radius: 15px;
}

.track-rows__grid {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 680px;
  gap: 10px;
}

@media (max-width : 1238px) {
  .track-bubble__album-cover {
    display: none;
  }
}

.info__grid {
  z-index: 1;
}

.info__rectangle {
  position: absolute;
  background: var(--main-spotify-black);
  width: 500px;
  height: 134px;
  border-radius: 39px;
}

.track-bubble__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 140px;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 1747px) {
  .info__rectangle {
    position: absolute;
    background: var(--main-spotify-black);
    width: 250px;
    height: 134px;
    border-radius: 39px;
  }
}

@media (max-width : 1500px) {
  .info__rectangle {
    display: none;
  }
}

.info__title-author {
  display: block;
  z-index: 2;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 22px;
  color: white;
}

.info__title-author--text-clickable {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font: inherit; /* Inherit font properties from parent */
  cursor: pointer; /* Change cursor to pointer */
}

.info__title-track {
  display: block;
  z-index: 3;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info__rectangle--text-p-font-gotham-black {
  font-family: "Gotham", sans-serif;
}

.info__rectangle--text-h1-font-gotham-black {
  font-family: "Gotham Black", sans-serif;
}

.music-container__rectangle {
  display: flex;
  position: absolute;
  width: var(--music-container-width);
  left: var(--music-container-margin-left);
  top: 70px;
}

.info__title-track--text-clickable {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font: inherit; /* Inherit font properties from parent */
  cursor: pointer; /* Change cursor to pointer */
}

.header__rectangle {
  height: var(--header-height);
  background: var(--main-pure);
  margin: 0;
  padding: 0;
}

.header__rectangle--display-flex {
  display: flex;
  grid-template-columns: 139px 1fr 1fr;
}

.logo__image {
  display: flex;
  width: var(--logo__image_width);
  padding: var(--logo__image_padding-top);
}

.logo__image:hover {
  cursor: pointer;
}

.logo__link {
}

.tile__github {
  width: 207px;
}

.tile__grid {
  margin-left: 20px;
  display: grid;
  width: 370px;
  height: var(--tab-content-height);
  grid-template-columns: 200px 70px 70px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.title_grid a {
  padding: 0;
  margin: 0;
  border: none;
}

.tile__link {
  vertical-align: bottom;
}

.tile__telegram {
  width: 75px;
}

@media (max-width : 1849px) {
  .tile__telegram {
    display: none;
  }
}

.tile__vkontakte {
  width: 75px;
}

@media (max-width : 992px) {
  .tile__vkontakte {
    display: none;
  }
}

.tab-container__grid {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: var(--tab-container-width);
  margin-top: 5px;
  height: var(--tab-content-height);
}

.content__laptop {
  width: 50px;
  margin-right: 20px;
}

.content__music-sign {
  width: 40px;
  margin-right: 20px;
}

.content__pumpkin {
  width: 50px;
  margin-right: 20px;
}

.content__rectangle {
  height: var(--tab-content-height);
  border-radius: var(--tab__rectangle-radius);
  width: var(--tab-content-rectangle-width);
  background: var(--main-greyblue);
  position: relative;
  z-index: 1;
}

.content__title {
  display: flex;
  font-family: Merriweather Sans, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--tab-content-font-size);
}

.content__title--text-selection-color-denim::selection {
  background-color: var(--main-denim);
}

.content__title--color-pure {
  color: var(--main-pure);
  z-index: 2;
}
